/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type = email], input[type = text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
/*input[type=submit] {*/
/*  background-color: #04AAAA;*/
/*  color: white;*/
/*  padding: 12px 20px;*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  cursor: pointer;*/
/*}*/

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #453449;
}

/*Hide Streamlit Branding */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

.focus-blur-button {
    background-color: #9d8189;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.focus-blur-button:focus {
    outline: none;
    background-color: #9d8189;  /* Change background on focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add glow effect */
}

.focus-blur-button:focus:not(:focus-visible) {
    background-color: forestgreen;  /* Revert background on blur */
}